<form  [formGroup]="changePassword">

    <div class="container">
        <h1>Change Password</h1>
        <label for="" >Type your old password</label>
        <input type="password" formControlName="oldPassword" class="form-control">
    
        <label for="" >Type your new password</label>
        <input type="password" formControlName="newPassword" class="form-control">
    
        <label for="" >Confirm your password</label>
        <input type="password"  formControlName="confirmPassword"class="form-control">
        <div class="buttons">
            <button class="btn btn-success" (click)="confirm()">Confirm</button>
            <button (click)="cancel()" class="btn btn-danger" >Cancel</button>
        </div>
    </div>
</form>
