.container{
    margin: auto;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:3px solid purple;
    margin-top: 100px;
    border-radius: 10px;
    background-color: rgb(97, 81, 111);
    label{
        color: white;
        font-size: larger;

    }

    input{
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .buttons{
        margin-top: 50px;
        gap: 10px;

        button{
            width: 150px;
        }
    }
}
