.container{
    margin-top: 10px;
    padding-bottom: 70px;
    width: 505px;

    .message{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: gray;
        font-size: 50px;
    }

    .card-list{
        border-radius: 10px;
        display: flex;
        background-color: rgb(230, 230, 230);
        border: 3px solid purple;
        margin-bottom: 15px;
        align-items: center;
        padding: 10px;
        width: 100% !important;

        .card-img{
            margin-right: 10px;
            width: 100px;
            img{
                height: 100px;
                width: 100px;
                object-fit: cover;
            }
        }
        
        .card-content {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .price{
                font-size: 25px;
                margin-right: 5px;
                strong{
                    font-size: 25px;
                }
            }
            .actions{
                

                button{
                    padding: 10px;
                    margin-right: 10px;
                    border-radius: 10px;
                    color: white;
                    transition: 1s;
                }

                .details-button{
                    background-color: purple;
                }
                .details-button:hover{
                    background-color: rgb(156, 65, 156);
                    scale: 1.1;
                }

                .remove-button{
                    background-color: red;
                }
                .remove-button:hover{
                    background-color: rgb(238, 75, 75);
                    scale: 1.1;
                }

            }
        }
    }
}