<app-filter (filterApplied)="applyFilter($event)"></app-filter>
<div class="container text-center">
  <form class="d-flex w-100 justify-content-center" (submit)="onSearch($event)">
    <input 
      type="text" 
      placeholder="Search books..." 
      [(ngModel)]="searchTerm"
      name="search"
      [ngModelOptions]="{standalone: true}"
      (input)="onSearch()" 
      class="searchInput"/>
  </form>
  <div class="row row-cols-3">
    <div class="col" *ngFor="let b of books">
      <img [src]="'data:image/jpeg;base64,' + b.image" alt="" class="card-img">
      <span class="card-title">{{ b.title }}</span>
      <a 
        class="price-a" 
        *ngIf="b.code"
        [routerLink]="['/books', b.code]" 
        routerLinkActive="active">
        ${{ b.price }}
      </a>
      
    </div>
  </div>
  
</div>