.container{
    margin-top: 75px;
    width: 505px;
    .card-list{
        border-radius: 10px;
        display: flex;
        border: 3px solid purple;
        margin-bottom: 15px;
        align-items: center;
        padding: 10px;

        .card-img{
            margin-right: 10px;
            width: 100px;
            img{
                height: 100px;
                width: 100px;
                object-fit: cover;
            }
        }
        
        .card-content {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .actions{
                 
                button{
                    padding: 10px;
                    margin-right: 10px;
                    border-radius: 10px;
                    color: white;
                    transition: 1s;
                }

                .details-button{
                    background-color: purple;
                }
                .details-button:hover{
                    background-color: rgb(156, 65, 156);
                }
                
                .cart-button{
                    background-color: green;
                }
                .cart-button:hover{
                    background-color: rgb(25, 177, 25);
                    scale: 1.1;
                }

                .remove-button{
                    background-color: red;
                }
                .remove-button:hover{
                    background-color: rgb(238, 75, 75);
                    scale: 1.1;
                }

            }
        }
    }
}